img {
    position: relative;
    left: 550px;
    right: 500px;
    margin-top: 80px;
    padding-bottom: 20px;
}
input {
position: relative;
left: 320px;
right: 300px;
width: 540px;
height: 40px;
border: rgb(221, 216, 216) solid 0.1px;
box-shadow: rgb(180, 176, 176);
border-radius: 50px;
padding-right: 40px;
padding-left: 50px;
opacity: 0.5;   
}
.material-icons {
    position: relative;
    left: 355px;
    top: 5px;
    font-size: 20px;
}
button {
    position: relative;
    left: 520px;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 15px;
    padding: 6px;
    border: rgb(240, 230, 230) solid 0.2px;
    background-color: rgb(240, 230, 230);
}
.search {
    padding-left: 15px;
    padding-right: 15px;
}
.topnav {
    position: relative;
    left: 1020px; 
    margin-top: 10px;
}
.bottomnav {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(240, 230, 230, 0.973);
    border:rgba(240, 230, 230, 0.973) solid 2px;
    width: 1315.6px;
    height: 25px; 
    padding-top: 1px; 
    padding-bottom: 20px;
    color: rgb(66, 63, 63);
    font-size: 18px;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}
span {
    position: relative;
    right: 0px;
    left: 600px;
}
.topicons {
    padding: 0;
    left: 0px;
}
a{
    font-family: Arial, Helvetica, sans-serif;  
    color: black;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}
a:link {
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}