img {
    position: relative;
    left: 500px;
    right: 500px;
    margin-top: 80px;
    padding-bottom: 20px;
}
input {
position: relative;
left: 325px;
right: 300px;
width: 600px;
height: 40px;
border: rgb(241, 238, 238) solid 0.1px;
box-shadow: rgb(207, 205, 205);
border-radius: 50px;   
}
button {
    position: relative;
    left: 500px;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 15px;
    padding: 4px;
    border: rgb(241, 237, 237) solid 0.2px;
    background-color: rgb(241, 237, 237);
}
.search {
    padding-left: 15px;
    padding-right: 15px;
}
.upper {
    position: absolute;
    top: 5px;
    right: 5px;
}
.format {
    background-color: gray;
    border-width: 20px;
    border-radius: 80px;
}
.lower {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(240, 230, 230, 0.973);
    border:rgba(240, 230, 230, 0.973) solid 2px;
    width: 1312px;
    height: 25px; 
    padding-top: 10px; 
    padding-bottom: 6px;
}
span {
    position: absolute;
    right: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
a{
    font-family: Arial, Helvetica, sans-serif;  
    color: black;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}
a:link {
    outline: none;
    text-decoration: none;
}
a:hover {
    border-bottom: solid black 1px;
    box-decoration-break: initial;
}